body {
    font-family: $font-family;
    font-size: 16px;
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
h1 {
    font-family: Shrikhand, serif;
    text-align: center;
}
h3 {
    padding-left: 1em;
}
h5 {
    font-family: Shrikhand, serif;
    font-size: 1.8em;
    margin-top: 0em;
}
footer {
    background-color: $color-darkgrey;
    color: white;
    padding-left: 2em;
    padding-bottom: 5em;
    .fa-utensils {
        padding-right: 2em;
    }
    .fa-hands-helping {
        padding-right: 1em;
    }
    h5 {
        padding-top: 1em;
        font-size: 2.5em;
        font-style: $font-heading;
    }
    p{
        margin: 1em;
    }
    a {
    text-decoration: none;
    color: white;
    }
}
